polyglot/languages/typescript/module.ts linguist-detectable=true linguist-language=TypeScript
polyglot/languages/ampl/module.ampl linguist-detectable=true linguist-language=AMPL
polyglot/languages/aleo/module.aleo linguist-detectable=true linguist-language=Aleo
polyglot/languages/asymptote/module.asy linguist-detectable=true linguist-language=Asymptote
polyglot/languages/bqn/module.bqn linguist-detectable=true linguist-language=BQN
polyglot/languages/blitzbasic/module.bb linguist-detectable=true linguist-language=BlitzBasic
polyglot/languages/c/module.cs linguist-detectable=true linguist-language=C#
polyglot/languages/cweb/module.w linguist-detectable=true linguist-language=CWeb
polyglot/languages/chapel/module.chpl linguist-detectable=true linguist-language=Chapel
polyglot/languages/clojure/riemann.config linguist-detectable=true linguist-language=Clojure
polyglot/languages/csound/module.orc linguist-detectable=true linguist-language=Csound
polyglot/languages/dm/module.dm linguist-detectable=true linguist-language=DM
polyglot/languages/dune/dune-project.txt linguist-detectable=true linguist-language=Dune
polyglot/languages/elm/module.elm linguist-detectable=true linguist-language=Elm
polyglot/languages/flux/module.fx linguist-detectable=true linguist-language=FLUX
polyglot/languages/fluent/module.ftl linguist-detectable=true linguist-language=Fluent
polyglot/languages/gams/module.gms linguist-detectable=true linguist-language=GAMS
polyglot/languages/genie/module.gs linguist-detectable=true linguist-language=Genie
polyglot/languages/gnuplot/module.gp linguist-detectable=true linguist-language=Gnuplot
polyglot/languages/hack/module.hack linguist-detectable=true linguist-language=Hack
polyglot/languages/idl/module.pro linguist-detectable=true linguist-language=IDL
polyglot/languages/inno-setup/module.iss linguist-detectable=true linguist-language=Inno Setup
polyglot/languages/jac/module.jac linguist-detectable=true linguist-language=Jac
polyglot/languages/jolie/module.ol linguist-detectable=true linguist-language=Jolie
polyglot/languages/kerboscript/module.ks linguist-detectable=true linguist-language=KerboScript
polyglot/languages/lasso/module.lasso linguist-detectable=true linguist-language=Lasso
polyglot/languages/liquidsoap/module.liq linguist-detectable=true linguist-language=Liquidsoap
polyglot/languages/loomscript/module.ls linguist-detectable=true linguist-language=LoomScript
polyglot/languages/mql5/module.mq5 linguist-detectable=true linguist-language=MQL5
polyglot/languages/metal/module.metal linguist-detectable=true linguist-language=Metal
polyglot/languages/mojo/module.mojo linguist-detectable=true linguist-language=Mojo
polyglot/languages/nasl/module.nasl linguist-detectable=true linguist-language=NASL
polyglot/languages/netlogo/module.nlogo linguist-detectable=true linguist-language=NetLogo
polyglot/languages/nushell/module.nu linguist-detectable=true linguist-language=Nushell
polyglot/languages/omgrofl/module.omgrofl linguist-detectable=true linguist-language=Omgrofl
polyglot/languages/overpassql/module.overpassql linguist-detectable=true linguist-language=OverpassQL
polyglot/languages/pact/module.pact linguist-detectable=true linguist-language=Pact
polyglot/languages/picolisp/module.l linguist-detectable=true linguist-language=PicoLisp
polyglot/languages/powershell/module.ps1 linguist-detectable=true linguist-language=PowerShell
polyglot/languages/purescript/module.purs linguist-detectable=true linguist-language=PureScript
polyglot/languages/quint/module.qnt linguist-detectable=true linguist-language=Quint
polyglot/languages/rascal/module.rsc linguist-detectable=true linguist-language=Rascal
polyglot/languages/rez/module.r linguist-detectable=true linguist-language=Rez
polyglot/languages/sqf/module.sqf linguist-detectable=true linguist-language=SQF
polyglot/languages/self/module.self linguist-detectable=true linguist-language=Self
polyglot/languages/smpl/module.cocci linguist-detectable=true linguist-language=SmPL
polyglot/languages/standard-ml/module.ml linguist-detectable=true linguist-language=Standard ML
polyglot/languages/tla/module.tla linguist-detectable=true linguist-language=TLA
polyglot/languages/terra/module.t linguist-detectable=true linguist-language=Terra
polyglot/languages/uno/module.uno linguist-detectable=true linguist-language=Uno
polyglot/languages/verilog/module.v linguist-detectable=true linguist-language=Verilog
polyglot/languages/webidl/module.webidl linguist-detectable=true linguist-language=WebIDL
polyglot/languages/xs/module.xs linguist-detectable=true linguist-language=XS
polyglot/languages/zil/module.zil linguist-detectable=true linguist-language=ZIL
polyglot/languages/mirc-script/module.mrc linguist-detectable=true linguist-language=mIRC Script
polyglot/majority/exhibit-registry.ts linguist-detectable=true linguist-language=TypeScript
